flask
langdetect==1.0.7
python-docx==0.8.10
spacy==2.1.4
elasticsearch==7.0.4
konlpy==0.5.1
mecab-python3==0.996.2
nltk==3.4.1
jieba==0.39
python-pptx==0.6.18
openpyxl==2.6.2
pyjwt==1.7.1
requests==2.22.0
PyMuPDF==1.16.0
python-dotenv==0.10.3
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
pyspellchecker==0.5.2
xlrd==1.2.0
pandas
